body {
    color: rgb(38, 38, 38);
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
    box-shadow: 0 6px 20px 0 rgba(174, 209, 255, 0.274);
}

ul {
    list-style-type: none;
}

.center-list, .right-list, .sign-up {
    display: flex;
    font-size: 17px;
    gap: 30px;
    align-items: center;
    font-weight: 500;
}

.sign-up {
    background-color: #F49A40;
    color: #FFFFFF;
    border: none;
    padding: 8px 17px 8px 17px;
    border-radius: 5px;
    font-weight: 600;
}

.logo {
    height: 46px;
}

.arrow {
    border: solid rgb(38, 38, 38);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 7px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 69px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hello {
    font-size: 24px;
    margin-top: 0px;
}

.member-cards img {
    width: 380px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.member-cards div {
    width: 380px;
    border: 1px solid rgba(238, 233, 233, 0.945);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 6px 20px 0 rgba(174, 209, 255, 0.274);
}

.member-cards {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
}

.nwjs-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 80px;
}

.name {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.role {
    color: rgb(47, 128, 237);
    background-color: rgb(216, 231, 252);
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    text-transform: uppercase;
    width: 60px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 20px;
}

.bio {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
}

.member-button {
    padding: 8px 17px 8px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 128, 237);
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.subscribe-section {
    background-color: rgba(174, 209, 255, 0.11);
    padding: 75px 83px 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subscribe-title {
    font-size: 24px;
    font-weight: 700;
}

.subscribe-subtext {
    font-size: 18px;
}

.agreement {
    display: flex;
    gap: 5px;
}

.enter-email {
    border: 1px solid rgba(238, 233, 233, 0.945);
    width: 277px;
    padding: 14px 18px 14px;
    border-radius: 6px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 5px 10px 0px;
}

.subscribe {
    padding: 14px 18px 14px;
    border-radius: 6px;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background-color: rgb(242, 201, 76);
    margin-left: 5px;
}
